# Ignore files without extensions (Linux executables)
*
# Do not ignore folders (so you can access them)
!*/
# Do not ignore specific files
!*.cpp
!*.h
!*.txt
!*.md
!*.sh
!*.png
!.gitignore
!.github
# Ignore objects and libraries
*.so
*.o
